# Fichier d'exemple d'environnement.
# NE COMMITEZ JAMAIS VOS VRAIS SECRETS PRODUCTION !

ADMIN_TOKEN=CHANGE_ME_IN_PRODUCTION_OR_USE_SECRET_MANAGER
JWT_SECRET=YOUR_32_CHAR_LONG_SECRET_KEY
VAULT_TOKEN=RANDOM_TOKEN_FOR_INTERNAL_VAULT

FLAG_SUPPLY=FLAG{supply_chain_guardian}
FLAG_VAULT=FLAG{ssrf_reached_vault}
FLAG_SIGN=FLAG{signed_artifacts}
